@{
    ViewBag.Title = "Home Page";
}

<h1> Welcome to the GC Coffee Shop!</h1>
<div class="jumbotron">
    <h1>Register Here!</h1>
    <p class="lead">GC Coffee Shop has a variety of coffees that are just superb. Won't you register?</p>
    <p><a href="/Users/UserRegistration" class="btn btn-primary btn-lg">User Registration &raquo;</a></p>
</div>
